/*DOCUMETO CSS*/

section, div{ box-sizing: border-box;}

h3{color: aqua;}

.contenedor{display: flex;
            width: 100%;
            background: purple;
            padding: 15px;
            flex-flow: column wrap;}

.item{width: 100%;
      background: orange;
      margin-bottom: 15px;}

@media only screen and (min-width: 580px){

h3 { color: whitesmoke;
         text-align: center;}

.item {height: 100px;
        background: yellowgreen;}

}

/*Pantallas de mas de 780px*/

@media only screen and (min-width: 780px) {

    .contenedor {background: blue;}

    h3 {color: blue;}
}
/*Pantallas de mas de 1380px*/

@media only screen and ( min-width: 1380px){

.contenedor{ flex-flow: row wrap;
                width: 60%;
                margin: auto;}

.item { width: 33.33%;
        margin-bottom: 0px;}


}